<div class="b-data__bg" style="background-image: url('{coverimg}');"><span class="b-data__caption">{coverimg_note}</span></div>
<header class="b-data__header">
<div class="row-main">
	<h1 class="b-data__title">
		<strong>{title}</strong>
	</h1>
	<p class="meta meta--lg">
	<!--[[ZPRAVY_SNOWFALL_AUTHORS:HEADER]]-->
	<span class="meta__separator">|</span>
	<time>{published}</time>
	</p>	
	<p>
	<a href="#content" class="b-data__link js-scroll-to">
	Čtěte dále
	<span class="b-data__link-icon">
	<span class="icon-svg icon-svg--arrow-down">
	<svg class="icon-svg__svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		<use xlink:href="/sites/all/themes/custom/irozhlas/img/bg/icons-svg.svg#icon-arrow-down" x="0" y="0" width="100%" height="100%"></use>
	</svg>
</span>
</span>
</a>
</p>
</div>
</header> 

<div class="b-data__content" id="content">
{libraries}
{styles}
{column}

<p class="text-bold text-lg">{perex}</p>

{content}

<p class="meta meta--right meta--big">
<!--[[ZPRAVY_SNOWFALL_AUTHORS:FOOTER]]-->
</p>
</div>
<!--[[ZPRAVY_SNOWFALL_RELATED:ARTICLES]]-->
</div>
